/* Styling general pentru pagina */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #AFDDE5; /* Fundal general */
    color: #003135; /* Text implicit */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Titlul paginii */
h1 {
    text-align: center;
    color: #964734;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Formular */
form {
    background-color: #0FA4AF; /* Fundal pentru formular */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Etichete */
form label {
    font-weight: bold;
    color: #003135;
    display: block;
    margin-bottom: 5px;
}

/* Input-uri */
form input[type="text"],
form input[type="number"],select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #003135;
    border-radius: 5px;
    background-color: #AFDDE5;
    color: #003135;
    font-size: 1em;
    box-sizing: border-box;
}

/* Buton de submit */
form input[type="submit"]{
    width: 100%;
    background-color: #964734;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #003135;
}